---
import HtmlIcon from '../multimedia/skills/html.svg';
import CssIcon from '../multimedia/skills/css-3.svg';
import JsIcon from '../multimedia/skills/javascript-1.svg';
import TailwindIcon from '../multimedia/skills/tailwind.svg';
import VueIcon from '../multimedia/skills/vue.svg';
import AngularIcon from '../multimedia/skills/angular.svg';
import BootstrapIcon from '../multimedia/skills/bootstrap-5.svg';
import PythonIcon from '../multimedia/skills/python.svg';
import LaravelIcon from '../multimedia/skills/laravel.svg';
import JavaIcon from '../multimedia/skills/java.svg';
import GithubIcon from '../multimedia/skills/github.svg';
import DockerIcon from '../multimedia/skills/docker.svg';
import MysqlIcon from '../multimedia/skills/mysql.svg';
---

<section id="skills" class="py-20 max-w-5xl mx-auto px-4 fade-in-section">
  <h2 class="text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px] text-center fade-in-section mb-10">Skills</h2>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10 place-items-center">
    <!-- Bloque Front-end -->
    <div class="col-span-full">
      <p class="text-cyan-400 font-mono mb-12 text-left shadow-cyan-glow text-2xl">&lt;front-end&gt;</p>
      <div class="flex flex-wrap justify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <HtmlIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <CssIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <JsIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <TailwindIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <VueIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <AngularIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <BootstrapIcon class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono text-right mt-12 shadow-purple-glow">&lt;front-end/&gt;</p>
    </div>
    <!-- Espacio entre bloques -->
    <div class="col-span-full my-8"></div>
    <!-- Bloque Back-end -->
    <div class="col-span-full">
      <p class="text-cyan-400 text-2xl font-mono mb-12 text-left shadow-cyan-glow">&lt;back-end&gt;</p>
      <div class="flex flex-wrap justify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <PythonIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <LaravelIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <JavaIcon class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono mt-12 text-right shadow-purple-glow">&lt;back-end/&gt;</p>
    </div>

    <!-- Espacio entre bloques -->
    <div class="col-span-full my-8"></div>

    <div class="col-span-full">
      <p class="text-cyan-400 text-2xl font-mono mb-12 text-left shadow-cyan-glow">&lt;otherTools&gt;</p>
      <div class="flex flex-wrap justxlify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <GithubIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <DockerIcon class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <MysqlIcon class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono mt-12 text-right shadow-purple-glow">&lt;otherTools/&gt;</p>
    </div>
  </div>
</section>

<script type="module" src="/src/assets/fade-in.js"></script>
<style>
.shadow-cyan-glow {
  text-shadow: 0 0 12px #06b6d4, 0 0 24px #06b6d4;
}
.shadow-purple-glow {
  text-shadow: 0 0 12px #a78bfa, 0 0 24px #a78bfa;
}
</style>