---

---

<section id="skills" class="py-20 max-w-5xl mx-auto px-4 fade-in-section">
  <h2 class="text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px] text-center fade-in-section mb-10">Skills</h2>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10 place-items-center">
    <!-- Bloque Front-end -->
    <div class="col-span-full">
      <p class="text-cyan-400 font-mono mb-12 text-left shadow-cyan-glow text-2xl">&lt;front-end&gt;</p>
      <div class="flex flex-wrap justify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/html.svg" alt="HTML" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/css-3.svg" alt="CSS" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/javascript-1.svg" alt="JavaScript" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/tailwind.svg" alt="Tailwind" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/vue.svg" alt="Vue" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/angular.svg" alt="Angular" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/bootstrap-5.svg" alt="Bootstrap" class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono text-right mt-12 shadow-purple-glow">&lt;front-end/&gt;</p>
    </div>
    <!-- Espacio entre bloques -->
    <div class="col-span-full my-8"></div>
    <!-- Bloque Back-end -->
    <div class="col-span-full">
      <p class="text-cyan-400 text-2xl font-mono mb-12 text-left shadow-cyan-glow">&lt;back-end&gt;</p>
      <div class="flex flex-wrap justify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/python.svg" alt="Python" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/laravel.svg" alt="Laravel" class="w-16 h-16 object-contain" />
        </div>
        
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/java.svg" alt="Java" class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono mt-12 text-right shadow-purple-glow">&lt;back-end/&gt;</p>
    </div>

    <!-- Espacio entre bloques -->
    <div class="col-span-full my-8"></div>

    <div class="col-span-full">
      <p class="text-cyan-400 text-2xl font-mono mb-12 text-left shadow-cyan-glow">&lt;otherTools&gt;</p>
      <div class="flex flex-wrap justxlify-start gap-6">
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/github.svg" alt="GitHub" class="w-16 h-16 object-contain" />
        </div>
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/docker.svg" alt="Docker" class="w-16 h-16 object-contain" />
        </div>
        
        <div class="bg-gray-900 p-6 rounded-full shadow-lg hover:scale-110 transform transition duration-300 cursor-pointer">
          <img src="src/multimedia/skills/mysql.svg" alt="MySQL" class="w-16 h-16 object-contain" />
        </div>
      </div>
      <p class="text-cyan-400 text-2xl font-mono mt-12 text-right shadow-purple-glow">&lt;otherTools/&gt;</p>
    </div>

    
  </div>
</section>

<script type="module" src="/src/assets/fade-in.js"></script>
<style>
.shadow-cyan-glow {
  text-shadow: 0 0 12px #06b6d4, 0 0 24px #06b6d4;
}
.shadow-purple-glow {
  text-shadow: 0 0 12px #a78bfa, 0 0 24px #a78bfa;
}
</style>
