---
import '../styles/main.css';
import Navbar from '../components/Navbar.astro';
const { title = "Mi Portfolio" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="icon" href="/src/assets/myPhotos/logo.png" type="image/png" />
  </head>
  <body class="bg-gray-950 text-white font-sans">
    <Navbar />
    <slot />
  </body>
</html>
